body {
  color: #fff;
  background: #16161d;
}
body h1,
body h2,
body hr {
  margin-bottom: 1rem;
  clear: both;
}
body h1 {
  font-size: 200%;
}
body h2 {
  font-size: 140%;
}
body hr {
  border: 0;
  border-bottom: 1px solid #333;
}
body #wrap {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
body #wrap video {
  width: 480px;
  height: 360px;
}
body #wrap #audio-vtt {
  margin: 0 auto;
  width: 900px;
}
body #wrap #video-vtt2 {
  margin: 0 auto;
  text-align: left;
  line-height: 1.5em;
}
body #wrap #video-vtt2 div {
  width: 480px;
  float: left;
  margin-bottom: 1em;
}
.react-vtt.karaoke {
  font-size: 150%;
  font-weight: bold;
  margin: 1em 0;
  min-height: 1.5em;
}
.react-vtt.karaoke li {
  line-height: 1.5rem;
}
.react-vtt.audio-track {
  text-align: left;
}
.react-vtt.audio-track li {
  line-height: 1.5rem;
}
