body {
  color: #fff;
  background: #16161d;
}
body h1,
body h2,
body hr {
  margin-bottom: 1rem;
}
body h1 {
  font-size: 200%;
}
body h2 {
  font-size: 140%;
}
body hr {
  border: 0;
  border-bottom: 1px solid #333;
}
body #wrap {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
body #wrap video {
  width: 480px;
  height: 360px;
}
.react-vtt.audio-track {
  text-align: left;
}
.react-vtt.audio-track li {
  line-height: 1.5rem;
}
