html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.cue {
  -webkit-font-smoothing: antialiased;
}
.cue > .children {
  display: inline-block;
  position: relative;
  white-space: pre;
}
.cue > .children > .overlay {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: -0.5rem;
  overflow: hidden;
  color: #f90 !important;
}
.cue > .children > .overlay * {
  color: #f90 !important;
}
body {
  color: #fff;
  background: #16161d;
}
body h1,
body h2,
body hr {
  margin-bottom: 1rem;
  clear: both;
}
body h1 {
  font-size: 200%;
}
body h2 {
  font-size: 140%;
}
body hr {
  border: 0;
  border-bottom: 1px solid #333;
}
body #wrap {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
body #wrap video {
  width: 480px;
  height: 360px;
}
body #wrap #video-vtt {
  font-size: 150%;
  font-weight: bold;
  margin: 1em 0;
  min-height: 1.5em;
}
body #wrap #video-vtt .cue {
  display: inline-block;
}
body #wrap #audio-vtt {
  margin: 0 auto;
  width: 960px;
  text-align: left;
  line-height: 1.5rem;
}
