.cue {
  -webkit-font-smoothing: antialiased;
}
.cue > .children {
  display: inline-block;
  position: relative;
  white-space: pre;
}
.cue > .children > .overlay {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: -0.5rem;
  overflow: hidden;
  color: #f90 !important;
}
.cue > .children > .overlay * {
  color: #f90 !important;
}
