.react-vtt {
  -webkit-font-smoothing: antialiased;
}
.react-vtt.cues .cue {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.react-vtt.cues .cue .actived {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: -0.5em;
  color: #f90;
}
.react-vtt.isolated-cue {
  display: inline-block;
}
