doctype html
html
  head
    meta(charset="utf-8")
    title React VTT
    link(rel="stylesheet" type="text/css" href="./css/main.css")
  body
    #wrap
      h1 Custom Rendered Subtitles
      h2 Video - Chocolate Rain
      video(controls)
        source(src="./assets/chocolate_rain.webm" type="video/webm")
        source(src="./assets/chocolate_rain.mp4" type="video/mp4")
        track#chocolate-rain(kind="subtitles" src="./assets/chocolate_rain.vtt" srclang="en" label="English" default)
      #video-vtt
      hr
      h2 Audio - A Shared Culture
      audio(controls)
        source(src="./assets/Creative Commons - A shared culture.mp3")
        track#shared-culture(kind="subtitles" src="./assets/Creative Commons - A shared culture.en.vtt" srclang="en" label="English" default)
      #audio-vtt
      hr
    script(src="./js/build.js")
