@import 'nib'

body
  color white
  background #16161D
  h1, h2, hr
    margin-bottom 1rem
  h1
    font-size 200%
  h2
    font-size 140%
  hr
    border 0
    border-bottom 1px solid #333
  #wrap
    width 900px
    margin 0 auto
    text-align center
    video
      width  480px
      height 360px

// custom styles
.react-vtt
  //&.karaoke
  &.audio-track
    text-align left
    li
      line-height 1.5rem
