@import 'nib'

global-reset()

body
  background #16161D
  #wrap
    width 480px
    margin 0 auto
    text-align center
    video
      width  480px
      height 360px

.react-vtt
  margin-top 1em
  font-size 100%
  font-smoothing antialiased
  &.active-cues
    .cue
      position relative
      white-space nowrap
      display inline-block
      color white
      .actived
        overflow hidden
        position absolute
        left 0
        top  0
        bottom -.5em
        color #F90
