@import 'nib'

.react-vtt
  font-smoothing antialiased
  &.cues
    .cue
      position relative
      display inline-block
      white-space nowrap
      // keep the original text color
      //color white
      .actived
        overflow hidden
        position absolute
        left 0
        top  0
        bottom -.5em
        color #F90
  &.isolated-cue
    display inline-block
