@import 'nib'

.react-vtt
  font-smoothing antialiased
  &.cues
    .cue
      position relative
      display inline-block
      white-space nowrap
      color white
      .actived
        overflow hidden
        position absolute
        left 0
        top  0
        bottom -.5em
        color #F90
  &.isolated-cue
    display inline-block
  // custom styles
  &.karaoke, &.audio-track
    margin 1em auto
    min-height 1em
  &.audio-track
    text-align left
    li
      line-height 1.5rem
