@import 'nib'

.cue
  font-smoothing antialiased
  > .children
    display inline-block
    position relative
    // doesn't work well with ruby characters
    > .overlay
      white-space nowrap
      position absolute
      left   0
      top    0
      bottom -.5rem
      overflow hidden
      *
        color #f90 !important
