doctype html
html
  head
    meta(charset="utf-8")
    title React VTT
    link(rel="stylesheet" type="text/css" href="./css/vendor.css")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    video#video(controls autoplay)
      source(src="./assets/Creative Commons - A shared culture.ogv")
      //source(src="./assets/Creative Commons - A shared culture.mov")
      track(kind="subtitles" src="./assets/Creative Commons - A shared culture.en.vtt" srclang="en" label="English" default)
    script(src="./js/vendor.js")
    script(src="./js/main.js")
