doctype html
html
  head
    meta(charset="utf-8")
    title React VTT
    link(rel="stylesheet" type="text/css" href="./css/reset.css")
    link(rel="stylesheet" type="text/css" href="./css/react-vtt.css")
    link(rel="stylesheet" type="text/css" href="./css/main.css")
  body
    #wrap
      h1 Custom Rendered Subtitles
      h2 Video - Chocolate Rain
      video(controls)
        source(src="./assets/chocolate_rain.webm" type="video/webm")
        source(src="./assets/chocolate_rain.mp4" type="video/mp4")
        track#chocolate-rain(kind="subtitles" src="./assets/chocolate_rain.vtt" srclang="en" label="English" default)
      #video-vtt
      hr
      h2 Customize Location of Each Cue
      #video-vtt2
        div
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Some stay dry and others feel the pain
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue A baby born will die before the sin
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue The school books say it can't be here again
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue The prisons make you wonder where it went
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Build a tent and say the world is dry
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Zoom the camera out and see the lie
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Forecast to be falling yesterday
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Only in the past is what they say
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Raised your neighborhood insurance rates
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Makes us happy 'livin in a gate
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Made me cross the street the other day
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Made you turn your head the other way
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue History quickly crashing through your veins
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Using you to fall back down again
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue History quickly crashing through your veins
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Using you to fall back down again
        div
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Seldom mentioned on the radio
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue It's the fear your leaders call control
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Worse than swearing worse than calling names
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Say it publicly and you're insane
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue No one wants to hear about it now
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Wish real hard it goes away somehow
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Makes the best of friends begin to fight
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue But did they know each other in the light?
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Every February washed away
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Stays behind as colors celebrate
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue The same crime has a higher price to pay
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue The judge and jury swear it's not the face
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue History quickly crashing through your veins
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Using you to fall back down again
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue History quickly crashing through your veins
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Using you to fall back down again
        div
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Dirty secrets of economy
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Turns that body into GDP
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue The bell curve blames the baby's DNA
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue But test scores are how much the parents make
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Flippin' cars in France the other night
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Cleans the sewers out beneath Mumbai
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue 'Cross the world and back it's all the same
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Angels cry and shake their heads in shame
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Lifts the ark of paradise in sin
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Which part do you think you're 'livin in?
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue More than marchin' more than passing law
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Remake how we got to where we are
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue History quickly crashing through your veins
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Using you to fall back down again
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue History quickly crashing through your veins
          br
          span.cue Chocolate Rain
          span ,&nbsp
          span.cue Using you to fall back down again
      hr
      h2 Audio - A Shared Culture
      audio(controls)
        source(src="./assets/Creative Commons - A shared culture.mp3")
        track#shared-culture(kind="subtitles" src="./assets/Creative Commons - A shared culture.en.vtt" srclang="en" label="English" default)
      #audio-vtt
      hr
    script(src="./js/vendor.js")
    script(src="./js/react-vtt.js")
    script(src="./js/main.js")
