doctype html
html
  head
    meta(charset="utf-8")
    title React VTT
    link(rel="stylesheet" type="text/css" href="./css/vendor.css")
    link(rel="stylesheet" type="text/css" href="./css/reset.css")
    link(rel="stylesheet" type="text/css" href="./css/react-vtt.css")
    link(rel="stylesheet" type="text/css" href="./css/main.css")
  body
    #wrap
      h1 Custom Rendered Subtitles
      h2 Video - Chocolate Rain
      video(controls)
        source(src="./assets/chocolate_rain.webm" type="video/webm")
        source(src="./assets/chocolate_rain.mp4" type="video/mp4")
        track#chocolate-rain(kind="subtitles" src="./assets/chocolate_rain.vtt" srclang="en" label="English" default)
      #video-vtt
      hr
      h2 Audio - A Shared Culture
      audio(controls autoplay)
        source(src="./assets/Creative Commons - A shared culture.mp3")
        track#shared-culture(kind="subtitles" src="./assets/Creative Commons - A shared culture.en.vtt" srclang="en" label="English" default)
      #audio-vtt
      hr
      h2 Video - Reuse existing HTML elements
      video(controls)
        source(src="./assets/chocolate_rain.webm" type="video/webm")
        source(src="./assets/chocolate_rain.mp4" type="video/mp4")
      #video-vtt2
      div
        span Chocolate Rain
        span ,&nbsp
        span Some stay dry and others feel the pain
        br
        span Chocolate Rain
        span ,&nbsp
        span Some stay dry and others feel the pain
        br
        span Chocolate Rain
        span ,&nbsp
        span A baby born will die before the sin
        br
        span Chocolate Rain
        span ,&nbsp
        span The school books say it can't be here again
        br
        span Chocolate Rain
        span ,&nbsp
        span The prisons make you wonder where it went
        br
        span Chocolate Rain
        span ,&nbsp
        span Build a tent and say the world is dry
        br
        span Chocolate Rain
        span ,&nbsp
        span Zoom the camera out and see the lie
        br
        span Chocolate Rain
        span ,&nbsp
        span Forecast to be falling yesterday
        br
        span Chocolate Rain
        span ,&nbsp
        span Only in the past is what they say
        br
        span Chocolate Rain
        span ,&nbsp
        span Raised your neighborhood insurance rates
        br
        span Chocolate Rain
        span ,&nbsp
        span Makes us happy 'livin in a gate
        br
        span Chocolate Rain
        span ,&nbsp
        span Made me cross the street the other day
        br
        span Chocolate Rain
        span ,&nbsp
        span Made you turn your head the other way
        br
        span Chocolate Rain
        span ,&nbsp
        span History quickly crashing through your veins
        br
        span Chocolate Rain
        span ,&nbsp
        span Using you to fall back down again
        br
        span Chocolate Rain
        span ,&nbsp
        span History quickly crashing through your veins
        br
        span Chocolate Rain
        span ,&nbsp
        span Using you to fall back down again
        br
        span Chocolate Rain
        span ,&nbsp
        span Seldom mentioned on the radio
        br
        span Chocolate Rain
        span ,&nbsp
        span It's the fear your leaders call control
        br
        span Chocolate Rain
        span ,&nbsp
        span Worse than swearing worse than calling names
        br
        span Chocolate Rain
        span ,&nbsp
        span Say it publicly and you're insane
        br
        span Chocolate Rain
        span ,&nbsp
        span No one wants to hear about it now
        br
        span Chocolate Rain
        span ,&nbsp
        span Wish real hard it goes away somehow
        br
        span Chocolate Rain
        span ,&nbsp
        span Makes the best of friends begin to fight
        br
        span Chocolate Rain
        span ,&nbsp
        span But did they know each other in the light?
        br
        span Chocolate Rain
        span ,&nbsp
        span Every February washed away
        br
        span Chocolate Rain
        span ,&nbsp
        span Stays behind as colors celebrate
        br
        span Chocolate Rain
        span ,&nbsp
        span The same crime has a higher price to pay
        br
        span Chocolate Rain
        span ,&nbsp
        span The judge and jury swear it's not the face
        br
        span Chocolate Rain
        span ,&nbsp
        span History quickly crashing through your veins
        br
        span Chocolate Rain
        span ,&nbsp
        span Using you to fall back down again
        br
        span Chocolate Rain
        span ,&nbsp
        span History quickly crashing through your veins
        br
        span Chocolate Rain
        span ,&nbsp
        span Using you to fall back down again
        br
        span Chocolate Rain
        span ,&nbsp
        span Dirty secrets of economy
        br
        span Chocolate Rain
        span ,&nbsp
        span Turns that body into GDP
        br
        span Chocolate Rain
        span ,&nbsp
        span The bell curve blames the baby's DNA
        br
        span Chocolate Rain
        span ,&nbsp
        span But test scores are how much the parents make
        br
        span Chocolate Rain
        span ,&nbsp
        span Flippin' cars in France the other night
        br
        span Chocolate Rain
        span ,&nbsp
        span Cleans the sewers out beneath Mumbai
        br
        span Chocolate Rain
        span ,&nbsp
        span 'Cross the world and back it's all the same
        br
        span Chocolate Rain
        span ,&nbsp
        span Angels cry and shake their heads in shame
        br
        span Chocolate Rain
        span ,&nbsp
        span Lifts the ark of paradise in sin
        br
        span Chocolate Rain
        span ,&nbsp
        span Which part do you think you're 'livin in?
        br
        span Chocolate Rain
        span ,&nbsp
        span More than marchin' more than passing law
        br
        span Chocolate Rain
        span ,&nbsp
        span Remake how we got to where we are
        br
        span Chocolate Rain
        span ,&nbsp
        span History quickly crashing through your veins
        br
        span Chocolate Rain
        span ,&nbsp
        span Using you to fall back down again
        br
        span Chocolate Rain
        span ,&nbsp
        span History quickly crashing through your veins
        br
        span Chocolate Rain
        span ,&nbsp
        span Using you to fall back down again
    script(src="./js/vendor.js")
    script(src="./js/react-vtt.js")
    script(src="./js/main.js")
