doctype html
html
  head
    meta(charset="utf-8")
    title jsl-seed
    link(rel="stylesheet" type="text/css" href="./css/vendor.css")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    script(src="./js/vendor.js")
    script(src="./js/main.js")
