@import 'nib'
global-reset()

@require 'Cue'

body
  color white
  background #16161D
  h1, h2, hr
    margin-bottom 1rem
    clear both
  h1
    font-size 200%
  h2
    font-size 140%
  hr
    border 0
    border-bottom 1px solid #333
  #wrap
    width 1440px
    margin 0 auto
    text-align center
    video
      width  480px
      height 360px
    #video-vtt
      font-size 150%
      font-weight bold
      margin 1em 0
      min-height 1.5em
    #audio-vtt
      margin 0 auto
      width 900px
      text-align left
      line-height 1.5rem
    #video-vtt2
      margin 0 auto
      text-align left
      line-height 1.5em
      div
        width 480px
        float left
        margin-bottom 1em

